body{
  font-family: 'Poppins', sans-serif;
  background-color: rgb(215, 250, 248);
}
button{
  margin:2px;
}
span{
  display:inline-block;
  width:100px;
  text-align: center;
}
.edit-button{
  background-color: rgb(58, 140, 212);
  color:white;
  border:none;
  padding:5px;
  border-radius: 5px;
  font-weight: 600;
}
.delete-button{
  background-color: rgb(212, 80, 32);
  color:white;
  border:none;
  padding:5px;
  border-radius: 5px;
  font-weight: 600;
}
table{
border-radius: 10px;

}
li{
  width: 200px;
  background-color: rgb(213, 213, 213);
  padding:5px;
  margin:2px;
  border-radius: 5px;
}
th{
  padding: 20px;
}
td{
  padding:5px;
}
thead tr{
  background-color:rgb(213, 213, 213);
  border-radius: 10px;
}
tbody tr{
  background-color:#ede995;
}
.category-form{
  background-color: rgb(130, 191, 241);
  border-radius: 15px;
}
.category-form-edit{
  background-color: rgb(233, 190, 22);
  border-radius: 15px;
}
.expense-form{
  background-color: rgb(130, 191, 241);
  border-radius: 15px;
}
.expense-form-edit{
  background-color: rgb(233, 190, 22);
  border-radius: 15px;
}
.category-container{
  background-color: rgb(215, 250, 248);
  padding:20px 0px;
  display:flex;
  gap:220px;
  justify-content:center;
  align-items:center;
}
.expense-container{
  background-color: rgb(215, 250, 248);
  padding:50px 0px;
  display:flex;
  gap:60px;
  justify-content:center;
  align-items:center;
}
input[type=submit]{
  background-color: rgb(130, 223, 100);
  padding:10px;
  margin:5px 0px;
  border-radius: 4px;
  border: 2px solid white;
  color:rgb(18, 96, 11);
}
.insights-box{
  display:flex;
  justify-content:space-around;
  align-items: center;
  background-color: #8bc2cd;
  margin: 0px 100px;
  border-radius: 20px;
}
legend{
  font-weight:800;
  font-size: larger;
  font-style: italic;
  color: rgb(5, 50, 118);
}
.insight{
  background-color:#40b6cd;
  border-radius: 10px;
  border-color: black;
}
.insight-text{
  font-size: xx-large;
  font-weight: 900;
}
.graph-container{
  max-height:800px;
  margin:40px;
  padding:20px;
  background-color: #8bc2cd;
  border-radius: 20px;
}
#title{
  font-size:30px;
  font-weight:900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(240, 196, 196);
  text-align: center;
  position:sticky;
  top:0px;
  background-color: rgb(87, 100, 167);
  margin: 0px 0px 40px 0px; 
  padding:20px;

}
hr{
  border-style: solid;
}
.expense-counts{
  background-color: red;
  color:white;
  border-radius: 100px;
  border:none;
  height: 20px;
  width: 20px;
  font-weight: 600;
}
input,select{
  padding:5px;
  margin: 5px;
  border-radius: 4px;
  border-style: solid;
}
.cancel-button{
  border-width: 2px;
  border-style: solid;
  background-color: red;
  padding:5px;
}
.error-msg{
  color: rgb(164, 14, 14);
}